<nav class="navbar navbar-light bg-faded">
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<div id="signin" class="navbar-form navbar" ng-if="UserName">
			<div id="header">
				<ul class="nav">
					<li>
						<a><i class="glyphicon glyphicon-user"></i> {{UserName}} </a>
					</li>
					<li><a ui-sref="Pizzeria.Principal">Inicio</a></li>
					<li><a>Usuarios</a>
						<ul>
							<li><a ui-sref="Abm.User">Alta</a></li>
							<li><a ui-sref="Abm.UserGrilla">Grilla</a></li>
						</ul>
					</li>
					<li><a>Locales</a>
						<ul>
							<li><a ui-sref="Abm.Local">Alta</a></li>
							<li><a ui-sref="Abm.LocalGrilla">Grilla</a></li>
						</ul>
					</li>
					<li><a>Pizzas</a>
						<ul>
							<li><a ui-sref="Abm.Pizza">Alta</a></li>
							<li><a ui-sref="Abm.PizzaGrilla">Grilla</a></li>
						</ul>
					</li>
					<li><a>Promociones</a>
						<ul>
							<li><a ui-sref="Abm.Promocion">Alta</a></li>
							<li><a ui-sref="Abm.PromocionGrilla">Grilla</a></li>
						</ul>
					</li>
					<li><a>Pedidos</a>
						<ul>
							<li><a ui-sref="Abm.Pedido">Nuevo</a></li>
							<li><a ui-sref="Abm.PedidoGrilla">Mis Pedidos</a></li>
						</ul>
					</li>
					<li><a>Acerca de</a>
					</li>
					<li><a ng-click="Logout()">Logout</a></li>
				</ul>
			</div>
			</body>
			<button type="submit" ng-click="Logout()" >Logout</button>
		</div>
		<div id="butons" class="navbar-form navbar-nav" ng-if="!UserName">
			<div class="input-group">
				<button type="submit" ng-click="Test('Admin')" >Admin</button>
				<button type="submit" ng-click="Test('Encargado')" >Encargado</button>
				<button type="submit" ng-click="Test('Empleado')" >Empleado</button>
				<button type="submit" ng-click="Test('Cliente')" >Cliente</button>
			</div>
		</div>
		<form id="FormIngreso" name="FormIngreso">
			<div id="login" class="navbar-form navbar-nav-right" ng-if="!UserName">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input id="user" name="user" type="text"  ng-model="FormIngreso.a_user" required="" placeholder="User">
				</div>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					<input id="password" name="password" type="password"  required="" ng-model="FormIngreso.a_pass" placeholder="Password">
				</div>
				<button type="submit" ng-click="Login()" ng-disabled="FormIngreso.$invalid" >Login</button>
		</form>
		</div>
	</div>
</nav>