<nav class="navbar navbar-light bg-faded">
  	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  		<div id="signin" class="navbar-form navbar" ng-if="UserName">  
	  		<div class="input-group">
	    		<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
	  			<input id="nameUser" type="text" ng-model="UserName" readonly class="form-control" value="">
			</div>
			<button type="submit" ng-click="Logout()" class="btn btn-primary">Logout</button> 
  		</div>
  		<div id="butons" class="navbar-form navbar-nav" ng-if="!UserName">
  			<div class="input-group">
  				<button type="submit" ng-click="Test('Admin')" class="btn btn-primary">Admin</button> 
  				<button type="submit" ng-click="Test('Empleado')" class="btn btn-primary">Empleado</button> 
  				<button type="submit" ng-click="Test('Cliente')" class="btn btn-primary">Cliente</button> 
			</div>
		</div>
		
		<form id="FormIngreso" name="FormIngreso">
	      	<div id="login" class="navbar-form navbar-nav-right" ng-if="!UserName"> 
		        <div class="input-group">
		            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
		            <input id="user" name="user" type="text" class="form-control" ng-model="FormIngreso.a_user" required="" placeholder="User">                     
		        </div>
		    	<div class="input-group">
		            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
		            <input id="password" name="password" type="password" class="form-control" required="" ng-model="FormIngreso.a_pass" placeholder="Password"> 
		        </div>
		        <button type="submit" ng-click="Login()" ng-disabled="FormIngreso.$invalid" class="btn btn-primary">Login</button>
	        </form>
      </div>
    </div>
</nav>