<div id="myCarousel" class="carousel">
    <div class="carousel-inner">
        <div class="item" ng-class="{active:!$index}" ng-repeat="fot in persona.foto_persona"><img src="{{fot}}"></div>
        <a class="carousel-control left" ng-non-bindable data-target="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control right" ng-non-bindable data-target="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<h3>Usuario: {{persona.nombre_usuario}}</h3>
<h3>Nombre: {{persona.nombre_persona}}</h3>
<h3>Apellido: {{persona.apellido_persona}}</h3>
<h3>DNI: {{persona.dni_persona}}</h3>
<h3 ng-show="persona.nombre_local != null">Trabajo: {{persona.nombre_local}}</h3>
<a class="btn btn-info" name="Volver" ui-sref="Abm.UserGrilla" ><span class="glyphicon glyphicon-triangle-left"></span> Volver</a>