<div class="container">
    <div class="page-header">
        <center>
            <h1>{{Accion}}</h1>
        </center>
    </div>
    <div class="CajaInicio animated bounceInRight">
        <form id="FormIngreso" name="FormIngreso" enctype="multipart/form-data">
            <select ng-model="objeSeleccionadoUser" ng-options="pizza as pizza.nombre_usuario for pizza in itemsSelectUser track by pizza.id_usuario">
				<option value="">* Elige Usuario *</option>
			</select>
            <select ng-model="objeSeleccionadoPizza" ng-options="pizza as pizza.descripcion_pizza for pizza in itemsSelectPizza track by pizza.id_pizza">
				<option value="">* Elige Una Pizza *</option>
			</select>
            <select ng-model="objeSeleccionadoLocal" ng-options="pizza as pizza.nombre_local for pizza in itemsSelectLocal track by pizza.id_local">
				<option value="">* Elige Un Local *</option>
			</select>
            <input type="number" min="0" name="nombre" ng-model="Pedido.cantidad_pizza" placeholder="Ingrese Precio" required/>
            <input type="date" name="nombre" ng-model="Pedido.fecha_entrega" placeholder="Ingrese Fecha del pedido" required/>
            <span id="lblNombre" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*</span>
            <input type="hidden" name="idOculto" id="id" value="" /><br>
            <a class="btn btn-info " name="guardar" ng-disabled="FormIngreso.$invalid" ng-click="Guardar()"><span class="glyphicon glyphicon-save">&nbsp;</span>Guardar</a>

            <input type="hidden" value="" id="idParaModificar" name="agregar" />
            <input type="hidden" value="" id="hdnAgregar" name="agregar" />
    </div>

    </form>
</div>
</div>