<div id="myCarousel" class="carousel">
    <div class="carousel-inner">
        <div class="item" ng-class="{active:!$index}" ng-repeat="fot in Pizza.foto_pizza"><img src="{{fot}}" width="200px" height="200px"></div>
        <a class="carousel-control left" ng-non-bindable data-target="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control right" ng-non-bindable data-target="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<h3>Nombre: {{Pizza.descripcion_pizza}}</h3>
<h3>Precio: ${{Pizza.precio_pizza}}</h3>
<a class="btn btn-info" name="Volver" ui-sref="Abm.PizzaGrilla" ><span class="glyphicon glyphicon-triangle-left"></span> Volver</a>
