<div class="container">
	<div class="page-header">
		<center>
			<h1 class="animated infinite bounce">{{Accion}}</h1>
		</center>
	</div>
	<div class="CajaInicio animated bounceInRight">
		<form id="FormIngreso" name="FormIngreso" enctype="multipart/form-data">
			<select ng-model="FormIngreso.objeSeleccionadoPizza" ng-options="pizza as pizza.descripcion_pizza for pizza in itemsSelectPizza track by pizza.id_pizza">
				<option value="">* Elige Una Pizza *</option>
			</select>
			<select ng-model="FormIngreso.objeSeleccionadoLocal" ng-options="pizza as pizza.nombre_local for pizza in itemsSelectLocal track by pizza.id_local">
				<option value="">* Elige Un Local *</option>
			</select>
			<input type="number" min="0" name="nombre" ng-model="Pizza.precio_promo" placeholder="Ingrese Precio" required/>
			<span id="lblNombre" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*</span>
			<input type="hidden" name="idOculto" id="id" value="" /><br>
			<a class="btn btn-block " name="guardar" ng-disabled="FormIngreso.$invalid" ng-click="Guardar()"><span class="glyphicon glyphicon-record"></span> Guardar</a>

			<input type="hidden" value="" id="idParaModificar" name="agregar" />
			<input type="hidden" value="" id="hdnAgregar" name="agregar" />
	</div>

	</form>
</div>
</div>