<div>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 class="animated infinite bounce" style="text-align: center;">Pizzerias Argentas SRL</h1><br>
                        <p style="text-align: center;">Realizado por :&nbsp;<a href="https://github.com/coresaxel"><font color="#FFFFFF">Axel Cores</font></a></p>
                        <p style="text-align: center;">Repositorio:&nbsp;<a href="https://github.com/coresaxel/TPlaboratorioIV2016"><font color="#FFFFFF">Git Hub</font></a></p>
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p class="copyright text-muted small">Axel Cores.2016. All Rights Reserved From Directive</p>
    </footer>
</div>